*{box-sizing:border-box; padding:0; margin:0}
body{background-color:white}
div#cabecera{width:97%; height:100px; background-color:gray; margin:auto;}
div.m1{width:97%; height:100px; float:left; font-size:1.5em; text-align:center; line-height:100px;}
div.cuerpo{width:97%; height:70px; background-color:black; margin:auto; font-size:2em;}
div.zonatexto{width:97%; background-color:#CACACA; margin:auto;}
div#menu1{width:97%; height:60px; margin:auto; background-color:gray;}
div#menu{width:97%; height:60px; margin:auto; background-color:gray;}
div.pags{float:left; width:100%; height:60px; text-align:center; line-height:50px; border:2px solid black; font-size:1.5em;}
div.pags a{text-decoration:none; color:black;}
div.pags:hover{background-color:white;}
img.subir{width:40px; height:40px; position:fixed; bottom:3%; right:3%;}
img.volver{width:40px; height:40px; position:fixed; bottom:3%; left:3%;}
a.links{text-decoration:none; color:black;}
a.links:hover{text-decoration:none; color:orange;}
a.links:visited{text-decoration:none; color:green;}
a.links:active{text-decoration:none; color:blue;}
div#piepagina{background-color:#333 ;width:97%; height:60px; padding:5px; text-align:center; margin:auto; font-weight:bold; line-height:50px; font-size:2em; color:white; clear:both;}
.center{text-align:center;}
.justify{text-align:justify;}
.white{color:white;}
.yellow{background-color: yellow;}


.temporadas{padding: 8px;}
div.enlaces{background-color:#EEE8E7; border: 3px solid black;}

{--------------------------------------------------.INICIO.--------------------------------------------------}
li.titulotablainicio{margin-left:25px; font-size:1.2em; font-weight:bold;}
li.tablainicio{list-style-position:inside; font-size:0.8em; font-weight:none;}
div.verinicio{margin:1.5%; width:450px; float:left;}
div.descargarinicio{margin:1.5%; width:450px; float:right;}


{--------------------------------------------.PAGINAS CON VIDEOS.--------------------------------------------}
div.izquierda{margin-left: 3.3%; margin-top: 20px; margin-bottom: 10px; float: left; width: 30%; height: 100%;}
div.centro{margin-left: 1.8%; margin-top: 20px; margin-bottom: 10px; float: left; width: 30%; height: 100%;}
div.derecha{margin-left: 1.8%; margin-top: 20px; margin-bottom: 10px; float: left; width: 30%; height: 100%;}
iframe{width:100%; height: 360px; margin-top: 20px; margin-bottom: 10px;}

